<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Eclipse</title>
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">	
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="static/index/css/AnomalyDetection.css">	
	<script src="static/index/js/isotope.pkgd.min.js"></script>
	<script src="https://kit.fontawesome.com/a626b7dec9.js" crossorigin="anonymous"></script>
    <script defer src="static/index/js/AnomalyDetection.js"></script>
</head>
<body>

	<header>
        <ul> 
			<li><a href="/main"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> <span>Back</span></a></li>
		</ul>
		<h1>Eclipse<br>Project</h1>
	</header>

	<main>
		<ul>
			<li class='on'><a href="*">ALL</a></li>
			<li><a href=".even">Key content</a></li>
		</ul>

		<section>
			<article class='even'>
				<div class='D'>
					<img src="static/index/img/ADAD.png" alt="이상탐지 설명">
					<h2>이상탐지(Anomaly detection)이 뭐야?</h2>
					<p>지금까지 확인하지 못한 패턴을 찾은 행동을 의미</p>
				</div>
			</article>
            <article class='odd'>
				<div class='D'>
					<img src="static/index/img/case.jpg" alt="">
					<h2>프로젝트 추진배경</h2>
					<p>웹 해킹 급증</p>
				</div>
			</article>
			<article class='odd'>
				<div class='D'>
					<img src="static/index/img/stack.jpg" alt="">
					<h2>기술 스택</h2>
					<p>AWS, NGINX, html, css, js, python, flask, mysql, github</p>
				</div>
			</article>
			<article class='even'>
				<div class='D'>
					<img src="static/index/img/arc.jpg" alt="">
					<h2>Architecture</h2>
					<p></p>
				</div>
			</article>
            <article class='even'>
				<div class='D'>
					<img src="static/index/img/plan.jpg" alt="">
					<h2>프로젝트 계획</h2>
					<p>1주차 ~ 12주차</p>
				</div>
			</article>
			<article class='even'>
				<div class='D'>
					<img src="static/index/img/po.jpg" alt="">
					<h2>Project Objective</h2>
					<p>이상상태 탐지 기법, 모델 개발, WSLD, 가시화</p>
				</div>
			</article>
			<article class='odd'>
				<div class='D'>
					<img src="static/index/img/ee.jpg" alt="">
					<h2>Expectancy Effects</h2>
					<p></p>
				</div>
			</article>
			<article class='even'>
				<div class='D'>
					<img src="static/index/img/fe.jpg" alt="">
					<h2>Feature Engineering</h2>
					<p></p>
				</div>
			</article>
		</section>
	</main>	

</body>
</html>
