<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    	
    <title>Dashboard_page</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a626b7dec9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/dashboard/css/style.css">
    <script defer src="static/dashboard/js/ie.js"></script>
    <script defer src="static/dashboard/js/main.js"></script>
</head>
<body>    
    <main>
        <header>
            <h1>
                <i class="fab fa-firstdraft"></i><br>
                <span>Dashboard</span><br>
                <span>- Eclipse</span>                
            </h1>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="javascript:history.back();">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <article >
                <a href="/goaccess">
                <div class="inner">
                    <div class="txt">
                        <h2>GoAccess</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div> 
                    <figure>
                        <video src="static/dashboard/vids/vid1.mp4" muted loop></video>
                    </figure>
                </div>
                </a>
            </article>

            <article>
                <a href="/ml_dashboard">
                <div class="inner">
                    <div class="txt">
                        <h2>ML_Dashboard</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div> 
                    <figure>
                        <video src="static/dashboard/vids/vid2.mp4" muted loop></video>
                    </figure>
                </div>
                </a>
            </article>

            <article>
                <a href="https://cloudwatch.amazonaws.com/dashboard.html?dashboard=test&context=eyJSIjoidXMtZWFzdC0xIiwiRCI6ImN3LWRiLTg0MTY2MTQ4MTkwMiIsIlUiOiJ1cy1lYXN0LTFfQW5vV3pmMUMxIiwiQyI6IjRxaWgxajdqMnZ2MnNhcjhhbTF2aTB0dW9lIiwiSSI6InVzLWVhc3QtMToyNGU5ZGNjNy1kYzRkLTRjYTEtOTc3Ni0wOGExZDY2YWI4ODIiLCJNIjoiUHVibGljIn0=">
                <div class="inner">
                    <div class="txt">
                        <h2>Cloudwatch</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div> 
                    <figure>
                        <video src="static/dashboard/vids/vid3.mp4" muted loop></video>
                    </figure>
                </div>
                </a>
            </article> 
        </section>  
        
        <aside>
            <div class="txt">
                <h1>01</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>CLOSE</span>  
            </div>
            <figure>
               
            </figure>
        </aside>
    </main>
</body>
</html>