<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Team_Member</title>
	<link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a626b7dec9.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="static/index/css/team.css">
</head>
<body class="member4">
	<section>
		<article class="profile">
			<img src="static/index/img/member4.jpg" alt="프로필 이미지" >

			<h1>김수은</h1>
			<h2>full-stack 개발 및 로그 모니터링</h2>

			<a href="/main" class="btnView">Back</a>
		</article>		

		<nav class="others">
			<a href="/member1"></a>
			<a href="/member2"></a>
			<a href="/member3"></a>
			<a href="/member4" class="on"></a>
		</nav>
	</section>
</body>
</html>