<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Team_Member</title>
	<link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a626b7dec9.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="static/index/css/team.css">
	<script defer src="js/ie.js"></script>
</head>

<body class="member1">
	<section>
		<article class="profile">
			<img src="static/index/img/member1.jpg" alt="프로필 이미지" >

			<h1>오도경(팀장)</h1>
			<h2>프로젝트 총괄, 클라우드/웹 서버 인프라 구축, <br>ML모델 개발, 발표</h2>

			<a href="/main" class="btnView">Back</a>
		</article>		

		<nav class="others">
			<a href="/member1" class="on"></a>
			<a href="/member2"></a>
			<a href="/member3"></a>
			<a href="/member4"></a>
		</nav>
	</section>
</body>
</html>